.body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;

}

.tab {
    width: 100px;
    height: 100px;
    background-color: red;
}

.orders {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.order {
    display: flex;
    flex-direction: column;
    padding: 10px;
}